body {
    position: relative;
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
h1 {
    color: white;
    font-size: 4vw;
    margin-top: 3vh; 
    margin-bottom: 5vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    gap: 0.5vw;
    justify-content: center;
}
.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0.2vw solid white;
    font-size: 6vw;
    color: white;
}
#playButton{
    margin-top: 5vh;
    font-size: 2vw;
    padding: 1vh 2vw;
    background-color: white;
    color: black;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition: 0.3s;
}
#playButton:hover {
    background-color: rgb(238, 141, 156);
    transform: scale(1.1);
}
#playButton:active {
    transform: scale(0.95);
}
#win {
    color: red;
    font-size: 5vw;
    margin-top: 3vh;
    min-height: 2em;
}
#turn {
    position: absolute;
    right: 5vw;
    top: 10vh;
    color: rgb(238, 141, 156);
    font-size: 2vw;
}
#modeToggle {
    font-size: 1.5vw;
    padding: 1vh 2vw;
    background-color: white;
    color: black;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2vh;
}
#modeToggle:hover {
    background-color: rgb(238, 141, 156);
    transform: scale(1.1);
}
#modeToggle:active {
    transform: scale(0.95);
}